
$color-white: #fafcfe;
$color-porcelain: #e3e3e5;
$color-beige: #b1b0b4;

$color-lilac: #6264ff;
$color-lilacDark: #4044bf;
$color-lilacDim: #3b4591;
$color-blue: #0af0ff;

$color-yellowLight: #f2f173;
$color-pinkLight: #cc6fa4;

$color-greyDark: #3e4248;
$color-aubergine: #313037;
$color-dark: #1e1f21;
