*,
*:after,
*:before {
  box-sizing: border-box;
  transition: .15s ease;
}

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.05rem;
  line-height: 1.6;
  overflow: hidden;
  color: $color-aubergine;
  background: $color-dark;
  text-rendering: optimizeLegibility;
}

.container-wrapper,
.container {
  width: 100%;
  height: 100%;
  perspective: 1200px;
}

.container-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-position: center center;
  overflow: hidden;
  background: $color-dark;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.main {
  width: inherit;
  height: inherit;
}

.main.blurred {
  filter: blur(8px);
}

*::-moz-selection {
  background: $color-greyDark;
  color: $color-white;
}

*::selection {
  background: $color-greyDark;
  color: $color-white;
}

img {max-width: 100%;}

a {
  text-decoration: none;
  color: $color-white;
  position: relative;
    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
}

a:not(.quote__item):not(.lang__link):before {
  background: $color-white;
  bottom: -3px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0) translateZ(0);
  transform-origin: 0 0 0;
  transition: all .5s cubic-bezier(.23, 1, .32, 1);
  width: 100%;
}

a:not(.quote__item):hover:before {
  transform: scaleX(1) translateZ(0);
}

button:hover,
button:focus,
button:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: .1em;
  letter-spacing: 1px;
  color: $color-white;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

small {
  font-size: .9rem;
}

.ws-logo {
  position: absolute;
  top: 1em;
  left: 1.3em;
  z-index: 500;
  color: $color-white;
  font-size: 2rem;
  overflow: hidden;
}

.quote__container .ws-logo {
  color: $color-aubergine;
}

.ws-logo,
.quote__container .ws-logo {
  &:hover,
  &:focus {
    border: none;
    outline: none;
    color: $color-blue;
  }
}

@media screen and (min-width: $mq-medium) and (max-width: $mq-large) {
  .quote__container .ws-logo {
    color: $color-white;
  }
}

@media screen and (max-width: $mq-medium) {
  .quote__container .ws-logo {
    color: $color-white;
  }
}

@media screen and (max-width: $mq-small) {
  .ws-logo {
    top: .5em;
    left: 1em;}
}

@media screen and (max-width: $mq-xsmall) {
  .no-js {
    left: 0;
    transform: translate(0, 0);
    width: 100%;
  }
}
