
$zIndex-1: -10; // .logo__border, .main__hero:before, .popup label, .snow

$zIndex--1: 10; // .no-js, .main__hero headings, .quote__image, .link-cookies, .link-quotes, .langs
$zIndex--2: 20; // footer
$zIndex--3: 30; // .pt-page-ontop, .quote__theme, .hidden:checked + .popup
$zIndex--4: 40; // .info__overlay, .quote__nav
$zIndex--5: 50; // .info__modal, .no-js
